Nombre: <input [(ngModel)]="persona.nombre" value="{{persona.nombre}}" type="string" id="NombrePaciente" name="NombrePaciente"><br/>
Apellido: <input [(ngModel)]="ApellidoPaciente" value="{{persona.apellido}}" type="string" id="ApellidoPaciente" name="ApellidoPaciente"><br/>
Email: <input [(ngModel)]="EmailPaciente" type="string" value="{{persona.email}}" id="EmailPaciente" name="EmailPaciente"><br/>
Telefono: <input [(ngModel)]="TelefonoPaciente" type="string" value="{{persona.telefono}}" id="TelefonoPaciente" name="TelefonoPaciente"><br/>
ruc: <input [(ngModel)]="RucPaciente" type="string" id="RucPaciente" value="{{persona.ruc}}" name="RucPaciente"><br/>
Cedula: <input [(ngModel)]="CedulaPaciente" type="string" id="CedulaPaciente" value="{{persona.cedula}}" name="CedulaPaciente"><br/>
Tipo Persona: <input [(ngModel)]="TipoPersonaPaciente" type="string" value="{{persona.tipoPersona}}" id="TipoPersonaPaciente" name="TipoPersonaPaciente"><br/>
Fecha de Nacimiento: <input [(ngModel)]="FechaNacimientoPaciente" type="date" value="{{persona.fechaNacimiento}}" id="FechaNacimientoPaciente" name="FechaNacimientoPaciente"><br/>

<br/>
<button (click)="eliminarPaciente()">Eliminar Paciente</button><br/>
<br/>
