 <h2 align="center">Lista de Pacientes</h2>
   <h3  align="center">Nombre: </h3><select  style="display: block; margin: 0 auto;" name="miselect" [(ngModel)]="pacienteNombreSelec">
      <option [ngValue]="item2" *ngFor="let item2 of listaFull">{{item2.nombre}}</option>
      </select>

      <h3  align="center"> Apellido:</h3> <select  style="display: block; margin: 0 auto;" name="miselect" [(ngModel)]="pacienteApellidoSelec">
      <option [ngValue]="item3" *ngFor="let item3 of listaFull">{{item3.apellido}}</option>
      </select><br/>

      <br/>
        <button  style="display: block; margin: 0 auto;" (click)="buscar('idPersona', 'asc', false)">Buscar</button><br/>
      <br/>
      <br/>
        <button  style="display: block; margin: 0 auto;" (click)="limpiar()">Limpiar lista</button><br/>
      <br/>
      <br/>
      <button  style="display: block; margin: 0 auto;" [routerLink]="['/agregarpaciente']" >Agregar Paciente</button><br/>
      <br/>
      <div *ngIf="listaPacientes.length>0; else sinresultado">
        <table  (matSortChange)="sortData($event)" matSortActive="idPersona" matSortDirection="asc" matSort>
          <tr>
            <th mat-sort-header="idPersona">idPersona</th>
            <th mat-sort-header="nombre">Nombre</th>
            <th mat-sort-header="apellido">Apellido</th>
            <th>Acciones</th>
          </tr>
          <tr *ngFor="let c of listaPacientes | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{c.idPersona}}</td>
            <td>{{c.nombre}}</td>
            <td>{{c.apellido}}</td>
            <td>
              <a [routerLink]="['/editarpaciente']"  [queryParams]="{ id: c.idPersona}" >
                Editar Paciente
              </a><br/>
              <a [routerLink]="['/eliminarpaciente']"  [queryParams]="{ id: c.idPersona}" >
                Eliminar Paciente
              </a>
            </td>
          </tr>
        </table>
      </div>
  <ng-template #sinresultado>
    <div *ngIf="clicbuscar == true; else noClickBuscar">
      No existen resultados para la busqueda.
    </div>
    <ng-template #noClickBuscar>
      No existen subcategorias.
    </ng-template>
  </ng-template>

<pagination-controls align="center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
