
Empleados: <select name="miselect" [(ngModel)]="empleadoSelec">
              <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre}}</option>
            </select>

Dias: <select name="miselect" [(ngModel)]="diaSelec">
              <option [ngValue]="item3" *ngFor="let item3 of numeros">{{dias[item3]}}</option>
      </select><br/>

<br/>
<button (click)="buscar('idPersonaHorarioAgenda', 'asc', false)">Buscar</button><br/>
<br/>
<br/>
<button (click)="Limpiar()">Limpiar</button><br/>
<br/>


<div *ngIf="agendas.length>0; else sinresultado">

  <table  (matSortChange)="sortData($event)" matSortActive="idPersonaHorarioAgenda" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idPersonaHorarioAgenda">idPersonaHorarioAgenda</th>
      <th mat-sort-header="dia">Dia</th>
      <th mat-sort-header="horaApertura">Hora Apertura</th>
      <th mat-sort-header="horaCierre">Hora Cierre</th>
      <th mat-sort-header="idEmpleado.nombre">Empleado</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let a of agendas | paginate: { itemsPerPage: 10, currentPage: page }">
      <td>{{a.idPersonaHorarioAgenda}}</td>
      <div *ngIf="a.dia==0">
        <td>Domingo</td>
      </div>
      <div *ngIf="a.dia==1">
        <td>Lunes</td>
      </div>
      <div *ngIf="a.dia==2">
        <td>Martes</td>
      </div>
      <div *ngIf="a.dia==3">
        <td>Miercoles</td>
      </div>
      <div *ngIf="a.dia==4">
        <td>Jueves</td>
      </div>
      <div *ngIf="a.dia==5">
        <td>Viernes</td>
      </div>
      <div *ngIf="a.dia==6">
        <td>Sabado</td>
      </div>
      <div *ngIf="a.dia==7">
        <td>Sabado</td>
      </div>
      <td>{{a.horaAperturaCadena+'hs'}}</td>
      <td>{{a.horaCierreCadena+'hs'}}</td>
      <td>{{a.idEmpleado.nombre+' '+a.idEmpleado.apellido}}</td>
      <td><a [routerLink]="['/editarpersonahorarioagenda']" [queryParams]="{ id: a.idPersonaHorarioAgenda}">Editar</a><br>
        <a class="nav-link" [routerLink]="['/eliminarpersonahorarioagenda']" [queryParams]="{ id: a.idPersonaHorarioAgenda}">Eliminar</a></td>
    </tr>
  </table>
</div>
<ng-template #sinresultado>
  <div *ngIf="clickBuscar == true; else noClickBuscar">
    No existen resultados para la busqueda.
  </div>
  <ng-template #noClickBuscar>
    No existen subcategorias.
  </ng-template>
</ng-template>


<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

<br/>
<button [routerLink]="['/agregarpersonahorarioagenda']" >Agregar Agenda</button><br/>
<br/>
