  Fecha: <input [(ngModel)]="fechaSelec" type="date" id="fecha" name="fecha"><br/>

  Empleados: <select name="miselect" [(ngModel)]="empleadoSelec">
  <option>Empleados</option>
  <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre+' '+item2.apellido}}</option>
  </select>


  <br/>
  <button (click)="buscar('idHorarioExcepcion', 'asc', false)">Buscar</button><br/>

  <br/>
  <button (click)="Limpiar()">Limpiar</button><br/>
  <br/>

<div *ngIf="horarios.length>0; else sinresultado">
  <table  (matSortChange)="sortData($event)" matSortActive="idPersonaHorarioAgenda" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idHorarioExcepcion">id Horario Excepcion</th>
      <th mat-sort-header="fecha">Fecha</th>
      <th mat-sort-header="horaApertura">Hora Apertura</th>
      <th mat-sort-header="horaCierre">Hora Cierre</th>
      <th>Habilitado</th>
      <th mat-sort-header="idEmpleado.nombre">Empleado</th>
      <th mat-sort-header="intervaloMinutos">Intervalo en Minutos</th>
      <td>Acciones</td>
    </tr>
    <tr *ngFor="let c of horarios | paginate: { itemsPerPage: 10, currentPage: page }">
      <td>{{c.idHorarioExcepcion}}</td>
      <td>{{c.fechaCadena}}</td>
      <td>{{c.horaAperturaCadena}}</td>
      <td>{{c.horaCierreCadena}}</td>
      <td>{{c.flagEsHabilitar}}</td>
      <td>{{c.idEmpleado.nombre+' '+c.idEmpleado.apellido}}</td>
      <td>{{c.intervaloMinutos}}</td>
      <td><a class="nav-link" [routerLink]="['/editarhorarioexcepcion']" [queryParams]="{ id: c.idHorarioExcepcion}">Editar</a><br/>
        <a class="nav-link" [routerLink]="['/eliminarhorarioexcepcion']" [queryParams]="{ id: c.idHorarioExcepcion}">Eliminar</a></td>
    </tr>
  </table>
</div>
  <ng-template #sinresultado>
    <div *ngIf="clickBuscar == true; else noClickBuscar">
      No existen resultados para la busqueda.
    </div>
    <ng-template #noClickBuscar>
      No existen subcategorias.
    </ng-template>
  </ng-template>



<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


<br/>
<button [routerLink]="['/agregarhorarioexcepcion']" >Agregar Horario Excepcion</button><br/>
<br/>
