Empleados: <select name="miselect" [(ngModel)]="empleadoSelec">
  <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre+" "+item2.apellido}}</option>
</select>

Clientes: <select name="miselect" [(ngModel)]="clienteSelec">
  <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.nombre+" "+item3.apellido}}</option>
</select><br/>

      Categorias: <select name="miselect" [(ngModel)]="categoriaSelec" (ngModelChange)="onChangeCategoria($event)">
        <option [ngValue]="item2" *ngFor="let item2 of categorias">{{item2.descripcion}}</option>
      </select><br/>

      <div *ngIf="categoriaSelec.idCategoria==undefined; else conCate">
        SubCategorias: <select name="miselect">
        <option>Seleccione una categoria</option>
      </select><br><br>
      </div>
      <ng-template #conCate>
        SubCategorias: <select name="miselect" [(ngModel)]="subcategoriaSelec">
        <option [ngValue]="item2" *ngFor="let item2 of subcategorias">{{item2.descripcion}}</option>
      </select><br><br>
      </ng-template>


      Motivo: <textarea name="motivo" rows="10" cols="40" [(ngModel)]="motivo" ></textarea>
      Diagnostico: <textarea name="dignostico" rows="10" cols="40" [(ngModel)]="diagnostico" ></textarea><br/>
      Observacion: <textarea name="observacion" rows="10" cols="40" [(ngModel)]="observacion" ></textarea><br/>


      <br/>
      <button (click)="crearFicha()">Crear</button>
      <br/>

