Fecha Desde: <input [(ngModel)]="fechadesde" type="date" id="fechadesde" name="fechadesde">
Fecha Hasta: <input [(ngModel)]="fechahasta" type="date" id="fechahasta" name="fechahasta"><br/>

Empleados: <select name="miselect" [(ngModel)]="empleadoSelec">
  <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre+" "+item2.apellido}}</option>
</select>

Clientes: <select name="miselect" [(ngModel)]="clienteSelec">
  <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.nombre+" "+item3.apellido}}</option>
</select><br/>

Categorias: <select name="miselect" [(ngModel)]="categoriaSelec" (ngModelChange)="onChangeCategoria($event)">
  <option [ngValue]="item2" *ngFor="let item2 of categorias">{{item2.descripcion}}</option>
</select><br/>

<div *ngIf="categoriaSelec.idCategoria==undefined; else conCate">
  SubCategorias: <select name="miselect">
  <option>Seleccione una categoria</option>
</select><br><br>
</div>
<ng-template #conCate>
  SubCategorias: <select name="miselect" [(ngModel)]="subcategoriaSelec">
  <option [ngValue]="item2" *ngFor="let item2 of subcategorias">{{item2.descripcion}}</option>
</select><br><br>
</ng-template>

<br/>
<button (click)="buscarServicio('idServicio', 'asc', false)">Buscar</button><br/>
<br/>

<div *ngIf="servicios.length>0; else sinresultado">
  <table  (matSortChange)="sortData($event)" matSortActive="idServicio" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idServicio">idServicio</th>
      <th mat-sort-header="fechaHora">Fecha</th>
      <th mat-sort-header="idFichaClinica.idFichaClinica">idFichaClinica</th>
      <th mat-sort-header="idFichaClinica.fechaHora">Fecha Ficha</th>
      <th mat-sort-header="idEmpleado.nombre">Profesional</th>
      <th>Cliente</th>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let a of servicios">
      <td>{{a.idServicio}}</td>
      <td>{{a.fechaHora}}</td>
      <td>{{a.idFichaClinica.idFichaClinica}}</td>
      <td>{{a.idFichaClinica.fechaHora}}</td>
      <td>{{a.idFichaClinica.idEmpleado.nombre+" "+a.idFichaClinica.idEmpleado.apellido}}</td>
      <td>{{a.idFichaClinica.idCliente.nombre+" "+a.idFichaClinica.idCliente.apellido}}</td>
      <td>{{a.idFichaClinica.idTipoProducto.idCategoria.descripcion}}</td>
      <td>{{a.idFichaClinica.idTipoProducto.descripcion}}</td>
      <td><a [routerLink]="['/detalles']" [queryParams]="{ id: a.idServicio}">Administrar Detalles</a><br>
        <a [routerLink]="['/editarservicio']" [queryParams]="{ idServicio: a.idServicio}">Editar Observacion</a><br>
        <a [routerLink]="['/eliminarservicio']" [queryParams]="{ id: a.idServicio}">Eliminar</a></td>
    </tr>
  </table>
</div>
<ng-template #sinresultado>
  <div *ngIf="clickBuscar == true; else noClickBuscar">
    No existen resultados para la busqueda.
  </div>
  <ng-template #noClickBuscar>
    No existen fichas.
  </ng-template>
</ng-template>

<br/>
<button [routerLink]="['/agregarservicio']" >Agregar Servicio</button><br/>
<br/>
