Observacion: <textarea ng-model="textarea" class="textarea" readonly>{{servicio.observacion}}</textarea><br/>

<table border="1">
  <tr>
    <td>idFichaClinica</td>
    <td>Fecha Ficha</td>
    <td>Profesional</td>
    <td>Cliente</td>
    <td>Categoria</td>
    <td>Subcategoria</td>
  </tr>
  <tr>
    <td>{{ficha.idFichaClinica}}</td>
    <td>{{ficha.fechaHora}}</td>
    <td>{{ficha.idEmpleado.idPersona}}</td>
    <td>{{ficha.idCliente.idPersona}}</td>
    <td>{{ficha.idTipoProducto.idCategoria.idCategoria}}</td>
    <td>{{ficha.idTipoProducto.idTipoProducto}}</td>
  </tr>
</table>

-----------------DETALLES-------------------------------------



