
       Fecha Desde: <input [(ngModel)]="fechadesde" type="date" id="fechadesde" name="fechadesde">
       Fecha Hasta: <input [(ngModel)]="fechahasta" type="date" id="fechahasta" name="fechahasta"><br/>

 <br/>
    <button mat-button (click)="openDialog()">Buscar</button> ID Empleado Seleccionado: {{idE}} 
  <br/>

       Empleado: <select name="miselect" [(ngModel)]="empleadoSelec">
      <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre}}</option>
      </select>

      Cliente: <select name="miselect" [(ngModel)]="clienteSelec">
      <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.nombre}}</option>
      </select><br/>

      <br/>
      <button (click)="buscarReserva('idReserva', 'asc', false)">Buscar</button><br/>
      <br/>
      <br/>
      <button (click)="Limpiar()">Limpiar</button><br/>
      <br/>



<div *ngIf="reservas.length>0; else sinresultado">
  <table  (matSortChange)="sortData($event)" matSortActive="idPersonaHorarioAgenda" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idReserva">idReserva</th>
      <th mat-sort-header="fecha">Fecha</th>
      <th mat-sort-header="horaInicio">Hora Inicio</th>
      <th mat-sort-header="horaFin">Hora Fin</th>
      <th mat-sort-header="idEmpleado.nombre">Profesional</th>
      <th mat-sort-header="idCliente.nombre">Cliente</th>
      <th>Estado</th>
      <th>Asistio</th>
      <th mat-sort-header="observacion">Observacion</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let c of reservas">
      <td>{{c.idReserva}}</td>
      <td>{{c.fechaCadena}}</td>
      <td>{{c.horaInicioCadena}}</td>
      <td>{{c.horaFinCadena}}</td>
      <td>{{c.idEmpleado.nombre+' '+c.idEmpleado.apellido}}</td>
      <td>{{c.idCliente.nombre+' '+c.idCliente.apellido}}</td>
      <td>{{c.flagEstado}}</td>
      <td> <div *ngIf="c.flagAsistio== null; else siNO">
        - </div>
        <ng-template #siNO>
          {{c.flagAsistio}}
        </ng-template>
      </td>
      <td><div *ngIf="c.observacion== null; else sino">
        - </div>
        <ng-template #sino>
          {{c.observacion}}
        </ng-template> </td>
      <td>
        <div *ngIf="c.flagAsistio== null && c.flagEstado== 'R'">
          <a [routerLink]="['/editarreserva']" [queryParams]="{ id: c.idReserva}">Editar Reserva</a>
          <br/></div>
        <div *ngIf="c.flagEstado== 'R' && c.flagAsistio==null">
          <a [routerLink]="['/eliminarreserva']" [queryParams]="{ id: c.idReserva}">Cancelar</a><br/></div>
        <a [routerLink]="['/agregarficha']" [queryParams]="{ id: c.idReserva}">Nueva Ficha</a></td>
    </tr>
  </table>
</div>
   <ng-template #sinresultado>
     <div *ngIf="clickBuscar == true; else noClickBuscar">
       No existen resultados para la busqueda.
     </div>
     <ng-template #noClickBuscar>
       No existen subcategorias.
     </ng-template>
   </ng-template>



<br/>
<button [routerLink]="['/agregarreserva']" >Agregar Reserva</button><br/>
<br/>
