<div mat-dialog-content>Seleccione un Empleado</div>

<table border="1">
    <tr>
        <td>id Empleado</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td></td>
    </tr>
    <tr *ngFor="let f of empleados">
        <td>{{f.idPersona}}</td>
        <td>{{f.nombre}}</td>
        <td>{{f.apellido}}</td>
        <td><a [routerLink]="direccion" [queryParams]="{ idE: f.idPersona, flagpopup:'true'}">Seleccionar</a>
    </tr>
</table>

<div mat-dialog-actions>
<button mat-button (click)="onClickNO()">Cerrar</button>
</div>



