      <h2>Lista de Fichas</h2>
      Fecha Desde: <input [(ngModel)]="fechadesde" type="date" id="fechadesde" name="fechadesde">
      Fecha Hasta: <input [(ngModel)]="fechahasta" type="date" id="fechahasta" name="fechahasta"><br/>

       Empleado: <select name="miselect" [(ngModel)]="empleadoSelec">
      <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre+" "+item2.apellido}}</option>
      </select>

      Cliente: <select name="miselect" [(ngModel)]="clienteSelec">
      <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.nombre+" "+item3.apellido}}</option>
      </select><br/>

      Categoria: <select name="miselect" [(ngModel)]="categoriaSelec" (ngModelChange)="onChangeCategoria($event)">
        <option [ngValue]="item2" *ngFor="let item2 of categorias">{{item2.descripcion}}</option>
      </select><br/>

      <div *ngIf="categoriaSelec.idCategoria==undefined; else conCate">
        SubCategoria: <select name="miselect">
        <option>Seleccione una categoria</option>
        </select><br><br>
      </div>
      <ng-template #conCate>
        SubCategoria: <select name="miselect" [(ngModel)]="subcategoriaSelec">
        <option [ngValue]="item2" *ngFor="let item2 of subcategorias">{{item2.descripcion}}</option>
      </select><br><br>
      </ng-template>

      <br/>
      <button (click)="buscarFicha('idFichaClinica', 'asc', false)">Buscar</button><br/>
      <br/>
      <button (click)="Limpiar()">Limpiar</button><br/>
      <br/>
      <br/>
      <button style="display: block; margin: 0 auto;"  [routerLink]="['/agregarficha']" >Agregar Ficha</button><br/>
      <br/>




<div *ngIf="fichas.length>0; else sinresultado">
  <table align="center" (matSortChange)="sortData($event)" matSortActive="idFichaClinica" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idFichaClinica" >idFichaClinica</th>
      <th mat-sort-header="fechaHora">Fecha Ficha</th>
      <th mat-sort-header="motivoConsulta">Motivo Consulta</th>
      <th mat-sort-header="diagnostico">Diagnostico</th>
      <th mat-sort-header="observacion">Observacion</th>
      <th mat-sort-header="idEmpleado.nombre">Empleado</th>
      <th mat-sort-header="idCliente.nombre">Cliente</th>
      <th>Subcategoria</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let c of fichas">
      <td align="center">{{c.idFichaClinica}}</td>
      <td>{{c.fechaHora}}</td>
      <td>{{c.motivoConsulta}}</td>
      <td>{{c.diagnostico}}</td>
      <td>{{c.observacion}}</td>
      <td>{{c.idEmpleado.nombre+" "+c.idEmpleado.apellido}}</td>
      <td>{{c.idCliente.nombre+" "+c.idCliente.apellido}}</td>
      <td>{{c.idTipoProducto.descripcion}}</td>
      <td align="center" ><a [routerLink]="['/editarficha']" [queryParams]="{ id: c.idFichaClinica}">Editar</a><br/>
        <a [routerLink]="['/ficha']" (click)="eliminarFicha(c.idFichaClinica)" [queryParams]="{ id: c.idFichaClinica}" >Eliminar</a></td>
    </tr>
  </table>
</div>
    <ng-template #sinresultado>
      <div *ngIf="clickBuscar == true; else noClickBuscar">
        No existen resultados para la busqueda.
      </div>
      <ng-template #noClickBuscar>
        No existen fichas.
      </ng-template>
    </ng-template>

    


