     
      
      
      Fecha Desde: <input [(ngModel)]="fechadesde" type="date" id="fechadesde" name="fechadesde">
      Fecha Hasta: <input [(ngModel)]="fechahasta" type="date" id="fechahasta" name="fechahasta"><br/>
      
       Empleados: <select name="miselect" [(ngModel)]="empleadoSelec">
      <option>Empleados</option>
      <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.idPersona}}</option>
      </select>

      Clientes: <select name="miselect" [(ngModel)]="clienteSelec">
      <option>Clientes</option>
      <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.idPersona}}</option>
      </select><br/>

      Categoria: <select name="miselect" [(ngModel)]="categoriaSelec">
      <option>Categoria</option>
      <option [ngValue]="item" *ngFor="let item of categorias">{{item.idCategoria}}</option>
      </select>

      SubCategoria: <select name="miselect" [(ngModel)]="subcategoriaSelec">
      <option>SubCategoria</option>
      <option [ngValue]="item1" *ngFor="let item1 of subcategorias">{{item1.idTipoProducto}}</option>
      </select><br/>

      <br/>
      <button (click)="buscar()">Buscar</button><br/>
      <br/>

      



<div *ngIf="fichasResultado.length>0; else sinresultado">
    <table border="1">
      <tr>
        <td>idFichaClinica</td>
        <td>motivoConsulta</td>
        <td>diagnostico</td>
        <td>observacion</td>
        <td>idEmpleado</td>
        <td>idCliente</td>
        <td>idTipoProducto</td>
         <td>Acciones</td>
      </tr>
      <tr *ngFor="let f of fichasResultado">
        <td>{{f.idFichaClinica}}</td>
        <td>{{f.motivoConsulta}}</td>
        <td>{{f.diagnostico}}</td>
        <td>{{f.observacion}}</td>
        <td>{{f.idEmpleado.idPersona}}</td>
        <td>{{f.idCliente.idPersona}}</td>
        <td>{{f.idTipoProducto.idTipoProducto}}</td>
         <td><a [routerLink]="['/editarficha']" [queryParams]="{ id: f.idFichaClinica}">Editar</a>
              <a [routerLink]="['/ficha']" (click)="eliminarFicha(f.idFichaClinica)" [queryParams]="{ id: f.idFichaClinica}" >Eliminar</a></td>
      </tr>
    </table>
</div>
  <ng-template #sinresultado>
    <table border="1">
      <tr>
        <td>idFichaClinica</td>
        <td>motivoConsulta</td>
        <td>diagnostico</td>
        <td>observacion</td>
        <td>idEmpleado</td>
        <td>idCliente</td>
        <td>idTipoProducto</td>
         <td>Acciones</td>
      </tr>
      <tr *ngFor="let c of fichas">
        <td>{{c.idFichaClinica}}</td>
        <td>{{c.motivoConsulta}}</td>
        <td>{{c.diagnostico}}</td>
        <td>{{c.observacion}}</td>
        <td>{{c.idEmpleado.idPersona}}</td>
        <td>{{c.idCliente.idPersona}}</td>
        <td>{{c.idTipoProducto.idTipoProducto}}</td>
        <td><a [routerLink]="['/editarficha']" [queryParams]="{ id: c.idFichaClinica}">Editar</a><br/>
            <a [routerLink]="['/ficha']" (click)="eliminarFicha(c.idFichaClinica)" [queryParams]="{ id: c.idFichaClinica}" >Eliminar</a></td>



      </tr>
    </table>
  </ng-template>
  
    
     