<div style="text-align:center">
  <a routerLink="/ficha">Lista de fichas</a>
  <br/>
  <a routerLink="/categoria">Lista de Categorias</a>
  <br/>
  <a routerLink="/subcategoria">Lista de SubCategorias</a>
  <br/>
  <a routerLink="/personahorarioagenda">Lista Persona Horario Agenda</a>
  <br/>
  <a routerLink="/presentacionproducto">Presentacion Producto</a>
  <br/>
  <a routerLink="/horarioexcepcion">Horario Excepcion</a>
  <br/>
  <a routerLink="/reserva">Lista de Reservas</a>
  <br/>
  <a routerLink="/servicio">Lista de Servicios</a>
  <br/>

  <br/>
  <a routerLink="/reporteresumido">Reporte resumido</a>
  <br/>
  <br/>
  <a routerLink="/reportedetallado">Reporte detallado</a>
  <br/>
    <div>
      <router-outlet></router-outlet>
    </div>

</div>
<div>
  <router-outlet></router-outlet>
</div>
