<div style="text-align:center">
  <a routerLink="/ficha">Lista de fichas</a>
  <br/>
  <a routerLink="/agregarficha">Agregar ficha</a>
   <br/>
  <a routerLink="/categoria">Lista de Categorias</a>
   <br/>
  <a routerLink="/agregarcategoria">Agregar Categoria</a>
  <br/>
  <a routerLink="/subcategoria">Lista de SubCategorias</a>
   <br/>
  <a routerLink="/agregarsubcategoria">Agregar SubCategoria</a>
  <br/>
  <a routerLink="/personahorarioagenda">Lista Persona Horario Agenda</a>
  <br/>
  <a routerLink="/agregarpersonahorarioagenda">Agregar Persona Horario Agenda</a>
  <br/>
  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
</div>

