<div style="text-align:center">

  <a routerLink="/categoria">Administracion de Categorias</a>
  <br/>
  <a routerLink="/subcategoria">Administracion de SubCategorias</a>
    <br/>
  <a routerLink="/presentacionproducto">Administracion de Presentacion Producto</a>
  <br/>
  <a routerLink="/paciente">Administracion de Pacientes</a>
  <br/>
  <a routerLink="/personahorarioagenda">Configuracion de Horario de Atencion</a>
  <br/>
   <a routerLink="/horarioexcepcion">Configuracion de Horario de Excepcion</a>
  <br/>
  <a routerLink="/reserva">Reserva de Turnos</a>
  <br/>
  <a routerLink="/ficha">Administracion de Fichas Clinicas</a>
  <br/>
   <a routerLink="/servicio">Administracion de Servicios</a>
   <br/>
   <a routerLink="/reporteresumido">Reporte Resumido</a>
  <br/>
  <a routerLink="/reportedetallado">Reporte Detallado</a>
  <br/>
    <div>
      <router-outlet></router-outlet>
    </div>

</div>
<div>
  <router-outlet></router-outlet>
</div>
