    
    Fecha: <input [(ngModel)]="fechaSelec" type="date" id="fechaSelec" name="fechaSelec">
    <input type="checkbox" [checked]="isChecked$ | async" (change)="toggleChecked()">Mostrar ya reservados<br/>

   
    Empleado: <select name="miselect" [(ngModel)]="empleadoSelec">
    <option>Empleados</option>
    <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre}}</option>
    </select> <br/>

    <br/>
    <button (click)="buscarReservaenCrear()">Buscar</button>
    <br/>
    
    <div *ngIf="isChecked$.value!; else sinresultado">
        <table border="1">
        <tr>
            <td>Fecha</td>
            <td>Hora Inicio</td>
            <td>Hora Fin</td>
            <td>Cliente</td>
            <td>Seleccionar</td>
        </tr>
        <tr *ngFor="let f of reservas">
            <td>{{f.fechaCadena}}</td>
            <td>{{f.horaInicioCadena}}</td>
            <td>{{f.horaFinCadena}}</td>
            <td>{{f.idCliente.nombre}}</td>
            <td><input type="radio" value="true" name="Selec" (click)="seleccionado(f)" > 
        </tr>
        </table>
    </div>
    <ng-template #sinresultado>
    </ng-template> <br/> <br/>

    Cliente: <select name="miselect" [(ngModel)]="clienteSelec">
    <option>Clientes</option>
    <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.nombre}}</option>
    </select><br/>
    
    <textarea name="observacion" [(ngModel)]="observacionSelec" placeholder="observacion" ></textarea><br/>


    <br/>
    <button class="nav-link" [routerLink]="['/ficha']" (click)="crearReserva()">Agregar Reserva</button>
    <br/>


