Nombre: <input [(ngModel)]="NombrePaciente" type="string" id="NombrePaciente" name="NombrePaciente"><br/>
Apellido: <input [(ngModel)]="ApellidoPaciente" type="string" id="ApellidoPaciente" name="ApellidoPaciente"><br/>
Email: <input [(ngModel)]="EmailPaciente" type="string" id="EmailPaciente" name="EmailPaciente"><br/>
Telefono: <input [(ngModel)]="TelefonoPaciente" type="string" id="TelefonoPaciente" name="TelefonoPaciente"><br/>
ruc: <input [(ngModel)]="RucPaciente" type="string" id="RucPaciente" name="RucPaciente"><br/>
Cedula: <input [(ngModel)]="CedulaPaciente" type="string" id="CedulaPaciente" name="CedulaPaciente"><br/>
Tipo Persona: <input [(ngModel)]="TipoPersonaPaciente" type="string" id="TipoPersonaPaciente" name="TipoPersonaPaciente"><br/>
Fecha de Nacimiento: <input [(ngModel)]="FechaNacimientoPaciente" type="date" id="FechaNacimientoPaciente" name="FechaNacimientoPaciente"><br/>

<br/>
<button (click)="crearPaciente()">Crear Paciente</button><br/>
<br/>