Observacion: <textarea ng-model="textarea" class="textarea"  [(ngModel)]="observacion" ></textarea><br/>
<br/>
<br/>
<br/>
<br/>
Empleados: <select name="miselect" [(ngModel)]="empleadoSelec">
  <option [ngValue]="item2" *ngFor="let item2 of empleados">{{item2.nombre+" "+item2.apellido}}</option>
</select>

Clientes: <select name="miselect" [(ngModel)]="clienteSelec">
  <option>Clientes</option>
  <option [ngValue]="item3" *ngFor="let item3 of clientes">{{item3.idPersona+" "+item3.apellido}}</option>
</select><br/>

<br/>
<button (click)="buscar('idFichaClinica', 'asc', false)">Buscar Fichas</button><br/>
<br/>

<div *ngIf="fichas.length>0; else sinresultado">
  <table  (matSortChange)="sortData($event)" matSortActive="idFichaClinica" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idFichaClinica">idFichaClinica</th>
      <th mat-sort-header="fechaHora">Fecha Ficha</th>
      <th mat-sort-header="idEmpleado.nombre">Profesional</th>
      <th mat-sort-header="idCliente.nombre">Cliente</th>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let a of fichas">
      <td>{{a.idFichaClinica}}</td>
      <td>{{a.fechaHora}}</td>
      <td>{{a.idEmpleado.nombre+" "+a.idEmpleado.apellido}}</td>
      <td>{{a.idCliente.nombre+" "+a.idCliente.apellido}}</td>
      <td>{{a.idTipoProducto.idCategoria.descripcion}}</td>
      <td>{{a.idTipoProducto.descripcion}}</td>
      <td><input type="radio" value="{{a.idFichaClinica}}" name="gender" [(ngModel)]="fichaSelec" ></td>
    </tr>
  </table>
</div>
<ng-template #sinresultado>
  <div *ngIf="clickBuscar == true; else noClickBuscar">
    No existen resultados para la busqueda.
  </div>
  <ng-template #noClickBuscar>
    No existen fichas.
  </ng-template>
</ng-template>

<br/>
<button (click)="crearServicio()">Confirmar</button><br/>
<br/>

{{fichaSelec}}
