
SubCategoria: <select name="miselect" [(ngModel)]="subCategoriaSelec">

<option [ngValue]="item1" *ngFor="let item1 of subcategorias">{{item1.idTipoProducto}}</option>
</select> <br>


Nombre: <select name="miselect" [(ngModel)]="nombreSelect">
  <option [ngValue]="item1" *ngFor="let item1 of nombres">{{item1}}</option>
</select>
<br>
<button (click)="Buscar()">Buscar</button>
<br/>

  
<div *ngIf="presentaciondeProductosResultados.length>0; else sinresultado">
    <table border="1">
      <tr>
        <td>idPresentacionProducto</td>
        <td>idProducto</td>
        <td>idTipoProducto</td>
        <td>nombre</td>
        <td> descripcion</td>
        <td> precioVenta</td>


      <tr *ngFor="let f of presentaciondeProductosResultados | paginate: { itemsPerPage: 5, currentPage: page }">
        <td>{{f.idPresentacionProducto}}</td>
        <td>{{f.idProducto.idProducto}}</td>
        <td>{{f.idProducto.idTipoProducto.idTipoProducto}}</td>
        <td>{{f.nombre}}</td>
        <td>{{f.descripcion}}</td>
        <td>{{f.existenciaProducto.precioVenta}}</td>
        

      </tr>
    </table>
</div>
 <ng-template #sinresultado>
    <div *ngIf="clickBuscar==true; else noBuscar">
      NO EXISTEN RESULTADOS PARA LA BUSQUEDA.
    </div>
    <ng-template #noBuscar>
      total
  <table border="1">
    <tr>
      <td>idPresentacionProducto</td>
      <td>idProducto</td>
      <td>idTipoProducto</td>
      <td>nombre</td>
      <td> descripcion</td>

    <tr *ngFor="let f of listaPresentacion | paginate: { itemsPerPage: 5, currentPage: page }">
      <td>{{f.idPresentacionProducto}}</td>
      <td>{{f.idProducto.idProducto}}</td>
      <td>{{f.idProducto.idTipoProducto.idTipoProducto}}</td>
      <td>{{f.nombre}}</td>
      <td>{{f.descripcion}}</td>
      <td>{{f.existenciaProducto.precioVenta}}</td>

    </tr>
  </table>
  </ng-template>


<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
