
idTipoProducto: <select name="miselect" [(ngModel)]="subCategoriaSelec">

<option [ngValue]="item1" *ngFor="let item1 of subcategorias">{{item1.idTipoProducto}}</option>
</select> <br>


Nombre: <select name="miselect" [(ngModel)]="nombreSelect">
  <option [ngValue]="item1" *ngFor="let item1 of nombres">{{item1}}</option>
</select>
<br>
<button (click)="Buscar('idPresentacionProducto', 'asc', false)">Buscar</button>
<br/>

<br>
<button (click)="Limpiar()">Limpiar</button>
<br/>



<div *ngIf="listaPresentacion.length>0; else sinresultado">
  total
  <table  (matSortChange)="sortData($event)" matSortActive="idPresentacionProducto" matSortDirection="asc" matSort>
    <tr>
      <th mat-sort-header="idPresentacionProducto">idPresentacionProducto</th>
      <th mat-sort-header="idProducto.idProducto">idProducto</th>
      <th mat-sort-header="idProducto.idTipoProducto.idTipoProducto">idTipoProducto</th>
      <th mat-sort-header="nombre">nombre</th>
      <th mat-sort-header="descripcion"> descripcion</th>
      <th> Precio Venta</th>

    <tr *ngFor="let f of listaPresentacion | paginate: { itemsPerPage: 10, currentPage: page }">
      <td>{{f.idPresentacionProducto}}</td>
      <td>{{f.idProducto.idProducto}}</td>
      <td>{{f.idProducto.idTipoProducto.idTipoProducto}}</td>
      <td>{{f.nombre}}</td>
      <td>{{f.descripcion}}</td>
      <td>{{f.existenciaProducto.precioVenta}}</td>

    </tr>
  </table>
</div>
<ng-template #sinresultado>
  <div *ngIf="clickBuscar == true; else noClickBuscar">
    No existen resultados para la busqueda.
  </div>
  <ng-template #noClickBuscar>
    No existen subcategorias.
  </ng-template>
</ng-template>


<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
