
<div *ngIf="categorias.length>0; else sinresultado">
    <table  (matSortChange)="sortData($event)" matSortActive="idCategoria" matSortDirection="asc" matSort>
      <tr>
        <th mat-sort-header="idCategoria">id Categoria</th>
        <th mat-sort-header="descripcion">Descripcion</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let f of categorias | paginate: { itemsPerPage: 10, currentPage: page }">
        <td>{{f.idCategoria}}</td>
        <td>{{f.descripcion}}</td>
        <td><a [routerLink]="['/editarcategoria']" [queryParams]="{ id: f.idCategoria}">Editar</a><br>
        <a class="nav-link" [routerLink]="['/eliminarcategoria']" [queryParams]="{ id: f.idCategoria}" >Eliminar</a></td>
      </tr>
    </table>
</div>
 <ng-template #sinresultado>
    No existen Categorias
  </ng-template>

<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


<br/>
<button [routerLink]="['/agregarcategoria']" >Agregar Categoria</button><br/>
<br/>
